:root {
    --system-ui: "Proxima Nova", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --place-border: 1px solid red;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--system-ui);
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 6fr;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / span 2;
    background-color: #3b82f6;
    color: white;
}

.nav ul, .settings ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: repeat(auto-fit, minmax(30px, 1fr));
}

.searchbar {
    padding-left: 80px;
}

.searchbar input[type="text"] {
    width: 100%;
    max-width: 600px;
    padding: 5px;
    margin-top: 15px;
}

#searchbar {
    height: 30px;
    border-radius: 15px;
    border: none;
    background-color: lightgrey;
    min-width: fit-content;
}

.username-section {
    display: flex;
}

.greeting-section {
    padding-top: 1%;
    padding-left: 15%;
}

.greeting-section > span {
    font-weight: 500;
}

.header-btns {
    display: flex;
}

.btn {
    margin: 26px 10px;
    padding: 0 1.5rem;
    background-color: #3b82f6;
    color: white;
    border-radius: 15px;
    border: 1px solid #3b82f6;
}

#username-h2 {
    margin: 0;
}

.main {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    background-color: lightgrey;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 30px 1fr 200px;
}

#projects-title, #announcements-title {
    font-weight: 500;
    margin: 0;
    text-align: left;
    align-self: flex-end;
    font-size: 20px;
    margin-left: 15px;
}

#projects-title {
    grid-column: 1 / 2;
}

.projects-section {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    /* border: var(--place-border) */
}

.card {
    width: 400px;
    height: 250px;
    background-color: white;
    border-radius: 15px;
    display: grid;
    margin: 5px;
    grid-template-columns: 2% 1fr;
    grid-template-rows: 55px 1fr;
}

.yellow {
    background-color: yellow;
    grid-column: 1 / 2;
    grid-row: span 2;
}

.card > p {
    font-size: 20px;
    font-weight: 500;
    grid-column: 2/ 3;
    padding-left: 15px;
}

.card > span {
    font-size: 15px;
    grid-column: 2/ 3;
    padding-left: 15px;
}

.announcements-section {
    grid-column: 2 / 3;
    background-color: white;
    padding: 5px 15px;
    display: grid;
    border-radius: 15px;
}

.announcements-section > div > h4 {
    margin: 5px 0px;
}

.announcements-section > div > span {
    font-size: 15px;
}

.trending-section {
    grid-column: 2 / 3;
    background-color: white;
    border-radius: 15px;
}